@media (min-width: 768px){
/*--------------default settings------------*/
*{box-sizing: border-box;}

body {
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
/*-----------container------------------*/
.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: 
  "img-side content-side"
  ;

}
.img-side  {
  grid-area: img-side;
  background: linear-gradient(hsl(243, 87%, 12%), hsl(243, 86%, 85%) );
  max-width: 100%;
  padding: 80px;
  }

.content-side {
  max-width: 100%;
grid-area: content-side;
grid-template-rows: repeat(4);
grid-template-areas: 
"nav-bar"
"content"
"form"
"footer"
;

}
/*----------navbar--------------*/
.nav-bar {
  grid-area: nav-bar;
  margin: 50px;
}

nav span {
position: absolute;
right: 50px;

}
nav {
  display: inline-block;
}

.fab{
  padding-right: 20px;
}

/*-------------main--------------------*/
.content {
  grid-area: content;
  margin: 50px;
}

h2 {
  color:  hsl(243, 87%, 12%);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

main p {
  opacity: 40%;
}

/*--------------form-------------------*/
form {
  grid-area: form;
  margin: 50px;
}

.form-title {
  color:  hsl(243, 87%, 12%);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 10px;
}
input[type=text] {
background-color: white;
border: none;
margin: 10px;
padding: 15px;
outline-style: outset;
outline-color: white;
width: 60%;
}

input[type=submit] {
  background-color: hsl(163, 95%, 43%);
  border: none;
  color: white;
  padding: 15px;
  width: 20%;
}

/*---------footer--------------*/
footer {
  grid-area: footer;
  margin: 50px;
  position: fixed;
  right: 0px;
}
}

@media (min-width: 480px)  {
/*-----------container------------------*/
.container {

  background-image: url("big-intro.svg"), url("illustration-main.svg");

}

/*----------navbar--------------*/
.logo {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
  
}

nav span {
position: absolute;
top: 0px;
right: 0px;
padding: 35px;

}
nav {
display: inline-block;
}

.fab{
padding-right: 20px;
}

/*-------------main--------------------*/
.content {
margin: 50px;
}

h2 {
color:  hsl(243, 87%, 12%);
font-family: 'Raleway', sans-serif;
font-weight: 700;
}

main p {
opacity: 30%;
}

/*--------------form-------------------*/
form {
grid-area: form;
margin: 50px;
}

.form-title {
color:  hsl(243, 87%, 12%);
font-family: 'Raleway', sans-serif;
font-weight: 700;
padding: 10px;
}

input[type=text] {
background-color: white;
border: 1px solid  hsl(0, 0%, 50%);
margin: 10px;
padding: 15px;
width: 60%;
}

input[type=submit] {
background-color: hsl(163, 95%, 43%);
border: none;
color: white;
padding: 15px;
width: 25%;
}

/*---------footer--------------*/
footer {
margin: 10px;
position: absolute;
right: 0px;
}


}