
/*--------------default settings------------*/
*{box-sizing: border-box;}

body {
  margin:0;
  font-family: 'Open Sans', sans-serif;
}

/*-----------container------------------*/
.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: 
  "img-side content-side"
  ;
height: 100vh;
}

.img-side  {
  grid-area: img-side;
  background: linear-gradient(hsl(243, 87%, 12%), hsl(243, 86%, 85%) );
  
  }

  .desktop-img {
    margin: 25% 15%;
  }

.content-side {
grid-area: content-side;
grid-template-rows: repeat(4);
grid-template-areas: 
"nav-bar"
"content"
"form"
"footer"
;

}

/*----------navbar--------------*/
.nav-bar {
  grid-area: nav-bar;
  margin: 50px;
}

nav span {
position: absolute;
right: 150px;

}

nav {
  display: inline-block;
}

.fab, .fas{
  font-size: 1.5em;
  padding-right: 20px;
}

/*-------------main--------------------*/
.content {
  grid-area: content;
  margin: 15% 5%;
}

h2 {
  color:  hsl(243, 87%, 12%);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

main p {
  opacity: 40%;
}

/*--------------form-------------------*/
form {
  grid-area: form;
  margin: 50px;
}

.form-title {
  color:  hsl(243, 87%, 12%);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  padding: 10px;
}
input[type=text] {
background-color: white;
border: none;
margin: 10px;
padding: 15px;
outline-style: outset;
outline-color: white;
width: 60%;
}

input[type=submit] {
  background-color: hsl(163, 95%, 43%);
  border: none;
  color: white;
  padding: 15px;
  width: 20%;
}

/*---------footer--------------*/
footer {

  grid-area: footer;
  margin: 50px;
  position: fixed;
  bottom: 5%;
  right: 0px;
}

.attribution a {
  color: black;
}

@media (max-width: 1080px) {
  .desktop-img {
    margin: 25% 5%;
  }

  nav span {
    right: 50px;
}
}

@media (max-width: 900px) {

  .desktop-img {
    margin: 40% 10px;
    max-width: 80%;
  }

  input[type=submit] {
    width: 25%;
  }

  .fab, .fas{
    padding-right: 10px;
  }

  nav span {
    right: 20px;
}

}

@media (max-width: 700px) {
  .container {
    grid-template-columns: 100%;
    grid-template-areas: 
    "img-side" 
    "content-side"
    ;
  
  }

  .img-side  { 
    background: url(bg-intro.svg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    }

    .desktop-img {
     background: none;
     margin: 25% 15%;
    }

   .logo, nav span{
     color: white;
    position: absolute;
    top: 5px;
  }

  .nav-bar {
    margin: 10px;
  }

  .content {
    margin: 20px;
  }

  footer {
  bottom: 0;
  margin-bottom: 0;
  }
  
 

  form {
    margin: 10px;
    padding-bottom: 50px;
  }
  
}